[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
whitenoise = "*"
reportlab = "*"
psycopg2-binary = "*"
python-dateutil = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
