
{% extends 'base.html' %}
{% block title %}Caso Accidente Escolar{% endblock title %}
{% block content-header %}
<div class="card-header">
    <div class="card-tools">
        <a href="#" class="btn btn-tool"></a>
        <a href="{% url 'list_accidente' %}" class="btn btn-tool">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
{% endblock content-header %}
{% block content %}

        <div class="row">
            <div class="col-sm-6">
                <h1 class="display-6">Detalle accidente</h1>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Nombre Afectado
                        </label>
                        <div class="col">
                            {{caso.accidentado.nombres}} {{caso.accidentado.apellido_paterno}} {{caso.accidentado.apellido_materno}}
                        </div>
                    </div>

                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Curso
                        </label>
                        <div class="col">
                            {{caso.accidentado.nivel}} - {{caso.accidentado.letra}}
                        </div>
                    </div>

                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Fecha Nacimiento
                        </label>
                        <div class="col">
                            {{caso.accidentado.fecha_nacimiento}}
                        </div>
                    </div>
                    {% if caso.archivo_declaracion_individual %}
                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Declaracion Indivial
                        </label>
                        <div class="col">
                            <a class="btn btn-light" href=" {{caso.archivo_declaracion_individual.url}}"><i class="nav-icon fas fa-file"></i> Descargar</a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Información Apoderado
                        </label>
                        <div class="col">
                            <table>
                                <tr><td>{{caso.nombre_apoderado}}</td></tr>
                                {% if caso.accidentado.email%}{% if caso.accidentado.email != '' %}<tr><td><b>Email:</b></td><td>{{caso.accidentado.email}}</td></tr>{% endif%}{% endif%}
                                {% if caso.accidentado.telefono%}{% if caso.accidentado.telefono != '' %}<tr><td><b>Telefono:</b></td><td>{{caso.accidentado.telefono}}<td></tr>{% endif%}{% endif%}
                                {% if caso.accidentado.celular %}{% if caso.accidentado.celular != '' %}<tr><td><b>Celular:</b></td><td>{{caso.accidentado.celular}}</td></tr>{% endif%}{% endif%}
                            </table>
    
                        </div>
                    </div>

                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Medio de Contacto Apoderado
                        </label>
                        <div class="col">
                            {{caso.medio_contacto_apoderado}}
                        </div>
                    </div>
        
                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                        </label>
                        <div class="col">
                        </div>
                    </div>

                    <hr>
                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Fecha Accidente
                        </label>
                        <div class="col">
                            {{caso.fecha_accidente}}
                        </div>
                    </div>
                    
                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            Persona que Solicitó el Seguro
                        </label>
                        <div class="col">
                            {{caso.persona_que_solicito_el_seguro}}
                        </div>
                    </div>

                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                           Lugar del Accidente
                        </label>
                        <div class="col">
                            {{caso.lugar_del_accidente}}
                        </div>
                    </div>
                    
                    <!--<div class="form-group border-bottom row">
                        <label for="" class="col">
                            Consecuencias Médicas
                        </label>
                        <div class="col">
                            {{caso}}
                        </div>
                    </div>-->

                    <div class="form-group border-bottom row">
                        <label for="" class="col">
                            observaciones
                        </label>
                        <div class="col">
                            {{caso.observaciones}}
                        </div>
                    </div>

                    <!--<div class="form-group border-bottom row">
                        <label for="" class="col">
                            Declaracion de Accidente del alumno
                        </label>
                        <div class="col">
                            {{caso}}
                    </div>-->
                </div>
            </div>
            <hr>
            <a href="{% url 'update_accidente' caso.pk %}" class="btn btn-success">Actualizar Datos del Caso</a>
            <a href="{% url 'update_estado_accidente' caso.pk %}" class="btn btn-success">Actualizar Estado</a>
        </div>
    </div>


{% endblock content %}


<br>
<a href="{% url 'update_accidente' caso.pk %}">Actualizar</a>
<hr>
{{ caso.pk }}