{% extends 'base.html' %}
{% load static %}
{% block title %}Casos: Accidentes {% endblock title %}

{% block pagetitle %} Casos Accidentes {% endblock pagetitle %}
{% block fullcard %}
  
<div class="card">
  <div class="card-header">
      Casos de Accidentes
    </div>
    <div class="card-body">
      <table id="casos_con" class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Afectado</th>
            <th>Fecha</th>
            <th>Detalle</th>
            <th>Estado</th>
            <th>Documento</th>
          </tr>
        </thead>
        <tbody>
          {% for accidente in casos_list %}
          <tr>
            <td>{{accidente.pk}}</td>
            <td> {{accidente.accidentado.nombres}} {{accidente.accidentado.apellido_paterno}} {{accidente.accidentado.apellido_materno}}</td>
            <td>{{accidente.fecha_accidente}}</td>
            <td><a href="{% url 'detail_accidente' accidente.pk %}">{{ accidente.observaciones|truncatechars:"10" }}</a></td>
            <td>{{accidente.get_estado_display}}</td>
            <td>
              {% if accidente.archivo_declaracion_individual %}
              <a class="btn btn-outline-light text-dark" href="{{accidente.archivo_declaracion_individual.url}}"> <i class="nav-icon fas fa-file"></i> 
              {% else %}
              N/A
                {% endif %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <div>
        <h2></h2>
    </div>
    
{% endblock fullcard %}

{% block morejs %}

<script>
  $('#casos_con').DataTable({
    "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
  });
</script>

{% endblock morejs %}