{% extends 'base.html' %}
{% load static %}
{% block title %}Matriculas {% endblock title %}

{% block pagetitle %} Alumnos {% endblock pagetitle %}
{% block fullcard %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">Cargar Nomina Alumnos</div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="card-body">
        {% block contenido %}  
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control form-control-file"  type="file" name="importData">
            <p>Por favor elegir formato del archivo.</p>
            <select name="file-format" class="form-control my-3">
                <option selected>Formato</option>
                <option>XLS</option>
                <option>XLSX</option>
                <option>CSV</option>
              </select>
            <button class="btn btn-success" type="submit">Cargar</button>
          </form>
        <!--div class="input-group mb-3">
            <input class="form-control form-control-file" type="file" name="importData">  
            <div class="input-group-append">
                <button class="btn btn-md btn-success" type="submit">Subir</button>  
            </div>
        </div>
        </form-->  
        {% endblock %}  
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">Agregar Alumno</div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="card-body">
    </div>
</div>
{% endblock fullcard %}
