{% extends 'base.html' %}
{% block title %}Caso Discrminación{% endblock title %}

{% block content-header %}
<div class="card-header">
    <div class="card-tools">
        <a href="#" class="btn btn-tool"></a>
        <a href="{% url 'matricula_edit' matricula.pk %}" class="btn btn-tool"> <!-- 'matricula_edit' matricula.pk -->
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'matriculas' %}" class="btn btn-tool">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
{% endblock content-header %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card card-primary">
            <div class="card-header">
                
                <div class="card-title">Dato del Alumno</div>
                <div class="card-tools">
                {% if matricula.esta_activo == True %}
                    <span class="badge bg-success">Activo</span>
                {% else %}
                    <span class="badge bg-secondary">Inactivo</span>
                {% endif%}
                </div>
            </div>
            <div class="card-body">
                <div class="form-group border-bottom row">
                    <label for="nombre" class="col">
                        Nombre
                    </label>
                    <div class="col">
                        {{matricula.nombres}} {{matricula.apellido_paterno}} {{matricula.apellido_materno}}
                    </div>
                </div>
                <div class="form-group border-bottom row ">
                    <label for="fechanacimiento" class="col">
                        Fecha nacimiento
                    </label>
                    <div class="col">
                        {{matricula.fecha_nacimiento}}
                    </div>
                </div>

                <div class="form-group border-bottom row ">
                    <label for="fechanacimiento" class="col">
                        Contacto
                    </label>
                    <div class="col">
                        <table>
                            {% if matricula.email%}{% if matricula.email != '' %}<tr><td><b>Email:</b></td><td>{{matricula.email}}</td></tr>{% endif%}{% endif%}
                            {% if matricula.telefono%}{% if matricula.telefono != '' %}<tr><td><b>Telefono:</b></td><td>{{matricula.telefono}}<td></tr>{% endif%}{% endif%}
                            {% if matricula.celular %}{% if matricula.celular != '' %}<tr><td><b>Celular:</b></td><td>{{matricula.celular}}</td></tr>{% endif%}{% endif%}
                        </table>
                        
                    </div>
                </div>

                <div class="form-group border-bottom row ">
                    <label for="fechanacimiento" class="col">
                        Domicilio Actual
                    </label>
                    <div class="col">
                        {{matricula.domicilio_actual}} {{matricula.Comuna_residencia}}
                    </div>
                </div>




            </div>


        </div>
    </div>

    <div class="col-sm-6">
        <div class="card card-success">
            <div class="card-header">
                <div class="card-title">Información Matricula</div>

            </div>

            <div class="card-body">

                <div class="form-group border-bottom row ">
                    <label for="nombre" class="col">
                        Establecimiento:
                    </label>
                    <div class="col">
                        {{matricula.establecimiento.nombre}}
                    </div>
                </div>



                <div class="form-group border-bottom row">
                    <label for="nombre" class="col">
                        Nivel:
                    </label>
                    <div class="col">
                        {{matricula.nivel}}
                    </div>
                </div>

                <div class="form-group border-bottom row">
                    <label for="nombre" class="col">
                        Letra:
                    </label>
                    <div class="col">
                        {{matricula.letra}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row accidente-escolar">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Accidente Escolares</div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in matricula.accidenteescolar_set.all %}
                        <tr>
                            <td>{{caso.fecha_ingreso}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td><a href="{% url 'detail_accidente' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row maltrato">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Maltrato </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in matricula.maltrato_set.all %}
                        <tr>
                            <td>{{caso.fecha_creacion}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td><a href="{% url 'maltrato_detail' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row discriminacion">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Discriminacion </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h4>Victima</h4>
                <br>
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in matricula.victima.all %}
                        <tr>
                            <td>{{caso.fecha_creacion}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td><a href="{% url 'discriminacion_detail' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <h4>Como Agresor</h4>
                <br>
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in matricula.agresor.all %}
                        <tr>
                            <td>{{caso.fecha_creacion}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td><a href="{% url 'discriminacion_detail' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row connotacion-sexual">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Connotacion Sexual </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <br>
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in matricula.connotacionsexual_set.all %}
                        <tr>
                            <td>{{caso.fecha_creacion}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td><a href="{% url 'connotacion_detail' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}