{% extends 'base.html' %}
{% block title %}Caso Discrminación{% endblock title %}

{% block content-header %}
<div class="card-header">
    <div class="card-tools">
        <a href="{% url 'funcionario_edit' funcionario.pk %}" class="btn btn-tool">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'funcionarios' %}" class="btn btn-tool">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
{% endblock content-header %}
{% block content %}

<div class="row ">
    <div class="col-sm-6">
        <div class="card card-primary ">
            <div class="card-header">
                <div class="card-title">Dato del Funcionario</div>
            </div>
            <div class="card-body">
                <div class="form-group border-bottom row">
                    <label for="nombre" class="col">
                        Nombre
                    </label>
                    <div class="col">
                        {{funcionario.nombre}} {{funcionario.apellido_paterno}}
                    </div>
                </div>
                <div class="form-group border-bottom row ">
                    <label for="rut" class="col">
                        Rut
                    </label>
                    <div class="col">
                        {{funcionario.rut}}-{{funcionario.dv}}
                    </div>
                </div>
                <div class="form-group border-bottom row ">
                    <label for="fechanacimiento" class="col">
                        Fecha nacimiento
                    </label>
                    <div class="col">
                        {{funcionario.fecha_nacimiento}}
                    </div>
                </div>

                <div class="form-group border-bottom row ">
                    <label for="fechanacimiento" class="col">
                        Domicilio Actual
                    </label>
                    <div class="col">
                        {{funcionario.direccion}}
                    </div>
                </div>




            </div>


        </div>
    </div>

    <div class="col-sm-6">
        <div class="card card-success">
            <div class="card-header">
                <div class="card-title">Información Matricula</div>

            </div>

            <div class="card-body">

                <div class="form-group border-bottom row ">
                    <label for="nombre" class="col">
                        Establecimiento:
                    </label>
                    <div class="col">
                        {{funcionario.establecimiento.nombre}}
                    </div>
                </div>



                <div class="form-group border-bottom row">
                    <label for="nombre" class="col">
                        Cargo
                    </label>
                    <div class="col">
                        {{funcionario.cargo}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row maltrato-funcionario">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Maltrato </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h4>Como Agresor</h4>
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in funcionario.funcionario_agresor.all %}
                        <tr>
                            <td>{{caso.fecha_creacion}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td><a href="{% url 'maltrato_detail' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row derechos-funcionarios">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Derechos Funcionarios </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in funcionario.vulneracionderechosfuncionarios_set.all %}
                        <tr>
                            <td>{{caso.fecha}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td>{{caso.get_tipo_vulneracion_display}}</td>
                            <td><a href="{% url 'detail_vulneracion_funcionario' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row dificultad-consejo">
    <div class="col-sm-12">
        <div class="card card-warning">
            <div class="card-header">
                <div class="card-title">Dificultad en Constitucion de Consejos (CCAA, CCPA, CE) </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="accidentes">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th>Ir al detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caso in funcionario.dificultadconstitucionconsejo_set.all %}
                        <tr>
                            <td>{{caso.fecha}}</td>
                            <td>{{caso.get_estado_display}}</td>
                            <td>{{caso.get_tipo_consejos_display}}</td>
                            <td><a href="{% url 'detail_dificultad' caso.pk %}">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}