{% extends 'base.html' %}
{% load static %}
{% block title %}Vulneracion Derechos{% endblock title %}
{% block fullcard %}
{% block head %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"
    integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"
    integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock head %}
<div class="card">
    <div class="card-header">
        <div class="row d-flex">
            <div class="col-sm-6">
                <h1 class="display-6">Vulneración Derechos</h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <br />
            {{form.as_p}}
            <table>

            </table>
            <button id="boton" type="submit" class="btn btn-success">Crear</button>
        </form>
    </div>
</div>

{% endblock fullcard %}