
{% extends 'base.html' %}
{% block title %}Caso Discrminación{% endblock title %}

{% block content-header %}
<div class="card-header">
    <div class="card-tools">
        <a href="#" class="btn btn-tool"></a>
        <a href="" class="btn btn-tool">
            <i class="fas fa-edit"></i>
        </a>
        <a href="" class="btn btn-tool">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
{% endblock content-header %}

{% block content %}

<div class="row">
    <div class="col-sm-4">
        <div>
            
        </div>
    </div>
    <div class="col-sm-8">
        <div>
            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Nombre Victima
                </label>
                <div class="col">
                    {{caso.victima.alumno.nombre}} {{caso.victima.alumno.apellido}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Curso
                </label>
                <div class="col">
                    {{caso.victima.curso}} {{caso.victima.nivel}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Fecha Nacimiento
                </label>
                <div class="col">
                    {{caso.victima.alumno.fecha_nacimiento}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Apoderado
                </label>
                <div class="col">
                    {{caso.victima.alumno.nombre_apoderado}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Domicilio Actual
                </label>
                <div class="col">
                    {{caso.victima.alumno.domicilio_actual}}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
        <div>
            
        </div>
    </div>
    <div class="col-sm-8">
        <div>
            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Nombre Agresor
                </label>
                <div class="col">
                    {{caso.agresor.alumno.nombre}} {{caso.agresor.alumno.apellido}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Curso
                </label>
                <div class="col">
                    {{caso.agresor.curso}} {{caso.agresor.nivel}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Fecha Nacimiento
                </label>
                <div class="col">
                    {{caso.agresor.alumno.fecha_nacimiento}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Apoderado
                </label>
                <div class="col">
                    {{caso.agresor.alumno.nombre_apoderado}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Domicilio Actual
                </label>
                <div class="col">
                    {{caso.agresor.alumno.domicilio_actual}}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div>
            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Fecha del Caso
                </label>
                <div class="col">
                    {{caso.fecha_creacion}}
                </div>
            </div>
            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Tipo Discriminacion: 
                </label>
                <div class="col">
                    {{caso.get_tipo_discrim_display}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Estado
                </label>
                <div class="col">
                    {{caso.get_estado_display}}
                </div>
            </div>

            <div class="form-group border-bottom row">
                <label for="" class="col">
                    Detalle de lo sucedido
                </label>
                <div class="col">
                    {{caso.detalle}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="caso-detail">
    <br>
    
    <hr>
    
    {% if caso.medidasdiscriminacion_set.all %}
            <label>Medidas adoptadas para el agresor</label>
            <ul>
            {% for medida in caso.medidasdiscriminacion_set.all %}
                
                {% if medida.condicionalidad %}
                    <p>Queda condicional</p>
                {% endif %}
                    
                {% if medida.devolucion_casa %}
                    <p>Se manda para la casa</p>
                {% endif %}

                {% if medida.suspension_clases %}
                    <p>Suspension de clases</p>
                {% endif %}

                {% if medida.expulsion %}
                    <p>Expulsion</p>
                {% endif %}
                <label for="">Detalle de las medidas:  </label>
                {{medida.descripcion_de_medidas}}
                <br>
            {% endfor %}
            </ul>
            <a href="{% url 'actualizar_discriminacion_medidas' caso.pk %}">Actualizar Medidas</a>
    {% else %}
       <a href="{% url 'discriminacion_medidas' caso.pk %}">Tomar Medidas</a>
       <p>No se han tomado Medidas</p>
    {% endif %}
    
    <hr>
    <div class="row text-center mt-5">
        <div class="col-sm-6">
            <a href="{% url 'discriminacion_list' %}" class="btn btn-primary btn-lg" role="button" >
                Volver a Todos los Casos
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'discriminacion_update' caso.pk %}" class="btn btn-primary btn-lg" role="button"">
                Actualizar estado
            </a>        
        </div>
    </div>

    <br>
    

    <br>
    
</div>
{% endblock content %}
